/* to style the body */
body {
  background-color: #e9ecef;
  text-align: center;
}
/*to style the alternative like (or login using) tags*/
.alternative {
  margin: 10%;
  color: blue;
}
/* to style the main content inside */
.main-content {
  max-width: 350px;
  background-color: white;
  margin: 3% auto auto auto;
  padding: 0% 2% 4%;
  border-radius: 2%;
  box-shadow: 1px 1px 2px 4px rgb(226, 223, 223);
  position: relative;
}
/* to style the welcome message on the top */
.welcome-message {
  color: rgba(57, 57, 233, 0.808);
  font-weight: lighter;
  margin: 0 0 15% 0;
}

/* This is to make all the elements which are in inline to block such as links */
.display {
  display: block;
  margin: 10% 0;
}

button,
input {
  width: 90%;
}
a.underline {
  text-decoration: underline;
}
footer {
  color: grey;
  margin: 2% 0 0 0;
}
.invalid-feedback {
  text-align: left;
  margin-left: 2px;
}

span {
  margin: 1% 2%;
  text-align: center;
  display: inline-block;
}
/* This is style the text which pops up when password and confirm password doesn't match */
.validation {
  color: red;
  margin-bottom: 2%;
  font-weight: bolder;
}
/* this is for the upper two button login and register for navigation */
.login-nav {
  width: 40%;
  outline: none;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 50px 15px 5px 50px; /*top-left top-right bottom-right bottom*/
}
.reg-nav {
  width: 40%;
  outline: none;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 15px 50px 50px 5px;
}
button.login-nav:focus {
  outline: none;
  border: solid 1px black;
  border-radius: 50px 15px 5px 50px;
}
button.reg-nav:focus {
  outline: none;
  border: none;
  border: solid 1px black;
  border-radius: 15px 50px 50px 5px;
}
.navigation {
  padding: 10% 0%;
}
/* this is used with javascript to show one page at a time */
.display-none {
  display: none;
}

.nav-color {
  color: #f2aa4cff;
}
.nav-color-two {
  color: white;
}
.nav-button-color {
  background-color: #101820ff;
}
a:hover {
  cursor: pointer;
}

/*the end*/
